@model List<GameReview.Models.Game>

<h1>Game Review</h1>
<hr/>
<a asp-action="Create" asp-controller="Game">Go add a Game to Review</a>
<ul>
    @foreach (var game in Model)
    {
        <li>@game.Name (@game.Rating) <a asp-action="Create" asp-controller="Review" asp-route-gamename="@game.Name">Add Review</a></li>
    
    }
</ul>
